* {
  box-sizing: border-box;
}
body {
    font-family: Arial, sans;
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

#head {
    height: 40px;
    background-color: black;
    color: white;
    padding: 5px;
}
#head div {
    float: left;
    margin-right: 20px;
}

#logo {
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
}

.driftitem {
    padding: 3px;
    background-color: #eee;
    margin: 2px 0;
    position: relative;
    height: 25px;

    position: relative;

    transition-property: height, background-color;
    transition-duration: 0.2s;
}
.docbar {
    cursor: pointer;
}
.driftitem.active {
    background-color: white;
    height: 520px;
}
.name {
    transition-property: font-size;
    transition-duration: 0.3s;
}
.driftitem.active .name {
    font-size: 18pt;
}
.driftitem.pending {
    height: 155px;
}
.expand {
    /* font-family: mono, monospace; */
}
.docbar:hover {
    color: blue;
}

.detail {
    overflow-x: auto;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.hamburger {
    position: absolute;
    right: 0;
    height: 25px;
    background-color: #ccc;
    width: 30px;
    text-align: center;
    top: 0;
}

.listitem {
    margin-left: 10%;
    width: 80%;
    height: 100px;
    border: 1px solid black;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
.listitem.upload {
    border: 1px dashed #999;
    margin-bottom: 10px;
    padding: 20px;
    font-weight: bold;
    cursor: inherit;
}
.listitem.pending {
    background-color: #ECEFF1;
    color: #90A4AE;
    border: 1px dashed #999;
    cursor: inherit;
    height: 200px;
}
.pending {
     color: #90A4AE;
}
.paste {
    font-style: italic;
    margin: 5px;
    font-size: 0.5em;
    opacity: 0.75;
}
.listitem.upload.drag {
    background-color: yellow;
}
.listitem input {
    display: block;
}

.ptext {
    width: 50%;
    height: 80px;
}

.listitem .title {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.listitem.ready {
    border-radius: 8px;
    background-color: white;
}
.listitem.ready .title {
    text-align: center;
    font-weight: bold;
}

#wdcan {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#graph {
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 50%;
}

#zoom {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    height: 20px;
    background-color: #263238;
}
#zoom-status {
    height: 100%;
    background-color: #FEDE88;
    position: absolute;
    top: 0;
    left: 0;
}
#zoom-text {
    position: absolute;
    top: -12px;
    font-size: 8pt;
}

#underline {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #E85C41;
    position: absolute;

    transition-property: left, top;
    transition-duration: 0.05s;
}

a {
    color: white;
    text-decoration: underline;
}

.delete {
    text-align: right;
    color: red;
    visibility: hidden;
    margin: 10px 15px;
}
.delete:hover {
    text-decoration: underline;
}
.listitem:hover .delete {
    visibility: visible;
}


.paragraph {
    position: relative;
    line-height: 2em;
    font-size: 14pt;

    padding: 10px;

    letter-spacing: 2;
    width: 45%;
    color: #263238;

    top: 10px;

    height: calc(100vh - 60px);
    overflow-y: auto;
}


.spkr {
    font-size: 10pt;
    font-family: 'Courier New', Courier, mono;
    color: #999;
    min-width: 100px;
    display: inline-block;
}


.svgseg {
    display: block;
}

.word{
    font-size: 14pt;
    font-weight: bold;
}
.axis {
    font-size: 8pt;
}
.unaligned {
    font-style: italic;
}


#ss {
    position: relative;
}
.cell {
    position: absolute;
    border: 1px solid #C4D5D9;
    color: #3B5161;

    transition-property: top, left, width, height;
    transition-duration: 0.2s;

    height: 20px;
    overflow: hidden;
}
.header.cell {
    border: 1px solid #3B5161;
    text-align: center;
    font-weight: bold;
    font-size: 0.5em;
}
.cell.txt {
    border: 0;
    font-style: italic;
    padding-left: 20px;
}
.cell.global {
    color: #000000;
}


#hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    z-index: 100;
}
#hamburger div, #hamburger a {
    padding: 2px;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
}
#hamburger div:hover, #hamburger a:hover {
    background-color: #eee;
}
.sbar {
    position: relative;
    height: 50px;
    width: 100%;
}
.playbutton {
    position: relative;
    left: 40px;
    top: 40px;

    font-size: 16pt;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
}
.playbutton:hover {
    background-color: yellow;
}
.overview {
    border-bottom: 1px solid black;
}
